{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 10.7763897,
    "longitude": 106.7011391,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Nhà",
    "time_zone": "Asia/Saigon",
    "external_url": null,
    "internal_url": null,
    "currency": "VND",
    "country": "VN",
    "language": "vi",
    "radius": 100
  }
}